@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Baskervville:ital@0;1&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Hind:wght@300;400;500;600;700&family=Kiwi+Maru&family=Playwrite+CZ:wght@100..400&family=Playwrite+DK+Uloopet:wght@100..400&family=Quintessential&display=swap');
/* Import slick-carousel CSS */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



.bg-custom {
    position: relative;
    overflow: hidden;
  }
  
  .bg-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/path-to-your-image.jpg'); /* Update with your image path */
    background-size: cover;
    background-position: center;
    filter: brightness(0.8); /* Adjust brightness here */
    z-index: -1; /* Ensure the background is behind the content */
  }
  
  .hind-light {
    font-family: "Hind", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .hind-regular {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .hind-medium {
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .hind-semibold {
    font-family: "Hind", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .hind-bold {
    font-family: "Hind", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .edu-au {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .crimson-pro {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style:italic;
  }
  .crimson-bold {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style:italic;
  }
  .bodoni-moda {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  .baskervville-regular-bold {
    font-family: "Baskervville", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .baskervville-regular-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
  }
  .averia-serif-libre-regular {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: normal;
  }
  .kiwi-maru-regular {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
  }
  .quintessential-regular {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
  }
  .playwrite-cz{
    font-family: "Playwrite CZ", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .custom-shape-divider-top-1721991327 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1721991327 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 69px;
}

.custom-shape-divider-top-1721991327 .shape-fill {
    fill: #9346AA;
}

.custom-shape-divider-bottom-1721992099 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721992099 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1721992099 .shape-fill {
  fill: #9346AA;
}

.custom-arrow {
  width: 40px;
  height: 40px;
  z-index: 2;
  background: linear-gradient(135deg, rgba(128, 26, 201, 1) 0%, rgba(64, 0, 128, 1) 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-arrow::before {
  font-size: 20px;
  color: rgb(13, 13, 13);
}

.custom-arrow:hover {
  background: linear-gradient(135deg, rgba(64, 0, 128, 1) 0%, rgba(128, 26, 201, 1) 100%);
  transform: scale(1.1);
}

.next-arrow {
  right: 10px;
}

.prev-arrow {
  left: 10px;
}
